*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Karla", sans-serif;
}

h1 {
  margin: 0;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 30px;
  background: beige;
  padding: 1.5em;
}

.info-collector {
  width: 80%;
  max-width: 300px;
  margin: 0 auto;
  padding-top: 5em;
}

input,
.btn {
  width: 100%;
  border-radius: 5px;
}

input,
textarea {
  font-family: inherit;
  text-align: inherit;
  margin-bottom: 0.75em;
  padding: 0.5em;
}

input {
  border: 1px solid #404040;
}

textarea {
  width: 100%;
  height: 100px;
  resize: none;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
  border: 0;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background: lightcyan;
  color: aquamarine;
}

.posts-array {
  padding: 2.5em 1.75em;
}
